body {
    margin: 0px;
    padding: 0px;
	background-color: gray;
}
	
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
 
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: 111;
}

.active {
  background-color: red;
}

#ORIGINAL{
	position:absolute;
	left:680px;
	top:200px;
}

#majcaORIGINAL{
	position:absolute;
	left:500px;
}

#ORIGINALp{
	position:absolute;
	left:200px;
	width:500mm;
	height:500mm;
}

#SVG{
	position:absolute;
	left:680px;
	top:200px;
}

#majcaSVG{
	position:absolute;
	left:500px;
}

#SVGp{
	position:absolute;
	left:600px;
	top:70px;
}

#BEZIER{
	position:absolute;
	left:690px;
	top:300px;
}

#majcaBEZIER{
	position:absolute;
	left:500px;
}

#BEZIERp{
	position:absolute;
	left:1000px;
	top:160px;
}

#meni{
	
}

#meni1{
	padding-left:600px;
}